* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-font-family: 'Nunito';
  --backgournd-color: #f6f7fb;
}
.wrapper {
  margin-top: 5%;
  width: 100%;
}
.menu {
  background-color: gray;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 80px;
  align-items: center;
  background-color: var(--backgournd-color);
  border-bottom: 1px solid black;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.nav_elements {
  display: flex;
  flex-wrap: nowrap;
  width: 30%;
  margin-left: -5px;
  margin-left: -30%;
  font-family: var(--main-font-family);
  text-transform: uppercase;
}
.nav_elements a {
  text-decoration: none;
  padding: 0 10px;
  color: black;
}
.burger_menu_border {
  width: 5%;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-left: 5%;
}
.burger_menu {
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.5s ease;
}
.burger_menu:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 1.2s ease;
}
.burger_menu:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 1.2s ease;
}
.burger_menu:before {
  transform: translateY(-12px);
}
.burger_menu:after {
  transform: translateY(12px);
}
.burger_menu.active {
  transform: translateX(-40px);
  background-color: transparent;
}
.burger_menu.active:before {
  transform: rotate(45deg) translate(35px, -35px);
  margin-left: -7px;
}
.burger_menu.active:after {
  transform: rotate(-45deg) translate(35px, 35px);
  margin-left: -7px;
}
.passive_visible {
  visibility: hidden;

  z-index: 1;
  opacity: 0;
  transition: 1.2s ease;
}
.active_visible {
  visibility: visible;
  margin-top: 0%;
  margin-left: -50%;
  z-index: 100;
  opacity: 1;
  transition: 1.2s ease;
}

.active_link {
  text-decoration: underline;
}
.slider_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls {
  width: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

button {
  font-size: 12px;
  padding: 2px 10px;
  cursor: pointer;
}

.slide {
  width: 100%;

  transition: 2s;
  cursor: pointer;
}
.non-visible {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.slider {
  margin: 0 auto;
  width: 50%;
  height: 30%;
}

.hidden {
  display: none;
}
@media screen and (min-width: 604px) and (max-width: 832px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 400px) and (max-width: 604px) {
  .nav_elements {
    display: flex;
    flex-wrap: nowrap;
    width: 30%;
    margin-left: -5px;
    margin-left: -30%;
    font-family: var(--main-font-family);
    text-transform: uppercase;
    font-size: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .nav_elements {
    display: flex;
    flex-wrap: nowrap;
    width: 30%;
    margin-left: -5px;
    margin-left: -30%;
    font-family: var(--main-font-family);
    text-transform: uppercase;
    font-size: 6px;
  }
}
