@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Oswald:wght@200&family=Sofia+Sans+Semi+Condensed:ital@1&display=swap');
:root {
  --main-font-family: 'Nunito';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(136, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
}
.menu {
  width: 180px;
  height: 150px;
  cursor: pointer;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.burger_menu {
  width: 100px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  transition: 0.5s ease;
}
.burger_menu:before,
.burger_menu:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  transition: 1.2s ease;
}
.burger_menu:before {
  transform: translateY(-25px);
}
.burger_menu:after {
  transform: translateY(25px);
}
.menu.active .burger_menu {
  transform: translateX(-40px);
  background-color: transparent;
}
.menu.active .burger_menu:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu.active .burger_menu:after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.links_section {
  width: 150px;
}
.links_section li {
  text-transform: uppercase;
  font-size: 50px;
  font-family: var(--main-font-family);
  list-style-type: none;
  padding: 10%;
  cursor: pointer;
  color: rgb(66, 68, 202);
}
.passive_visible {
  visibility: hidden;
  margin-left: -60%;
  z-index: 1;
  opacity: 0;
  transition: 1.2s ease;
}
.active_visible {
  visibility: visible;
  margin-left: 0%;
  z-index: 100;
  opacity: 1;
  transition: 1.2s ease;
}
@media screen and (min-width: 480px;) {
  .wrapper {
    display: flex;
    align-items: center;
  }
  .menu {
    width: 180px;
    height: 150px;
    cursor: pointer;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .burger_menu {
    width: 100px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s ease;
  }
  .burger_menu:before,
  .burger_menu:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    transition: 1.2s ease;
  }
  .burger_menu:before {
    transform: translateY(-25px);
  }
  .burger_menu:after {
    transform: translateY(25px);
  }
  .menu.active .burger_menu {
    transform: translateX(-40px);
    background-color: transparent;
  }
  .menu.active .burger_menu:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu.active .burger_menu:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .links_section {
    width: 150px;
  }
  .links_section li {
    text-transform: uppercase;
    font-size: 50px;
    font-family: var(--main-font-family);
    list-style-type: none;
    padding: 10%;

    color: rgb(66, 68, 202);
  }
  .passive_visible {
    visibility: hidden;
    margin-left: -60%;
    z-index: 1;
    opacity: 0;
    transition: 1.2s ease;
  }
  .active_visible {
    visibility: visible;
    margin-left: 0%;
    z-index: 100;
    opacity: 1;
    transition: 1.2s ease;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .menu {
    width: 180px;
    height: 150px;
    cursor: pointer;
    border: 5px solid white;
    display: flex;

    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .burger_menu {
    width: 100px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s ease;
  }
  .burger_menu:before,
  .burger_menu:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    transition: 1.2s ease;
  }
  .burger_menu:before {
    transform: translateY(-25px);
  }
  .burger_menu:after {
    transform: translateY(25px);
  }
  .menu.active .burger_menu {
    transform: translateX(-40px);
    background-color: transparent;
  }
  .menu.active .burger_menu:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu.active .burger_menu:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .links_section {
    width: 100px;
  }
  .links_section li {
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 40px;
    font-family: var(--main-font-family);
    list-style-type: none;
    padding: 10%;

    color: rgb(224, 90, 7);
  }
  .passive_visible {
    visibility: hidden;
    margin-top: -60%;
    z-index: 1;
    opacity: 0;
    transition: 1.2s ease;
  }
  .active_visible {
    visibility: visible;
    margin-top: 0%;
    margin-left: -50%;
    z-index: 100;
    opacity: 1;
    transition: 1.2s ease;
  }
}
